.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 60px;
    float: left;
}

.App-header {
    background-color: #222;
    height: 60px;
    color: white;
}

.App-title {
    font-size: 1.5em;
    color: #61dafb;
    float: left;
    padding-top: 16px;
}

.App-author {
    font-size: 1em;
    color: #dddddd;
    float: right;
    padding-top: 22px;
    margin-right: 20px;
}

.App-intro {
    font-size: 40px;
    color: #dddddd;
    padding-top: 22px;
    padding-bottom: 22px;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

.input-group {
    margin: 20px 0px;
}

svg {
    height: 150px;
}